* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game {
  max-width: 1140px;
  background-image: linear-gradient(
    103.3deg,
    rgba(252, 225, 208, 1) 30%,
    rgba(255, 173, 214, 1) 55.7%,
    rgba(162, 186, 245, 1) 81.8%
  );
  margin: 40px auto;
  border-radius: 20px;
  padding: 20px;
}

.arena {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.player-card {
  text-align: center;
  padding: 20px 10px;
  border-radius: 7px;
  background-image: linear-gradient(
    178.1deg,
    rgba(60, 55, 106, 1) 8.5%,
    rgba(23, 20, 69, 1) 82.4%
  );
  color: aliceblue;
}

.avatar {
  width: 15vw;
  height: 15vw;
}

.p1 .avatar {
  background-image: url(images/jerry.png);
  background-size: cover;
}

.p2 .avatar {
  background-image: url(images/tom.png);
  background-size: cover;
}

.name {
  font-size: 20px;
  font-weight: 500;
}

.health {
  margin: 10px auto;
  height: 10px;
  border-radius: 20px;
  background-color: darkgray;
  overflow: hidden;
}

.health-pos {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: red;
  transition: width 0.4s cubic-bezier(0, 0.93, 0.27, 0.35);
}

.actions {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

/* CSS */
.btn {
  background: #ff2b23;
  border: 2px solid #8f0500;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: crosshair;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn:hover,
.btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.btn:active {
  opacity: 0.5;
}

.btn:disabled {
  background-color: grey;
  border-color: grey;
}

.btn:disabled .btn-wrapper {
  pointer-events: none;
  cursor: no-drop;
}

.btn[disabled]:hover,
.btn[disabled]:active {
  cursor: not-allowed;
  color: #ffffff;
}

#reset {
  cursor: pointer;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-table {
  margin: 20px auto;
}

.score-table,
th,
td {
  border: 1px solid #1d1d1d;
  border-collapse: collapse;
  background-color: #eeeeee;
  padding: 10px 30px;
}

.round {
  background-color: #1d1d1d;
  color: white;
}

.winStatement {
  text-align: center;
  font-weight: 500;
}

@media only screen and (max-width: 500px) {
  .btn {
    font-size: 10px;
    padding: 4px 6px;
  }
}
